# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# editor and misc backup files - anywhere
*~
.*~
*.orig
*.bak
\#*\#

# file-browser settings - anywhere
.directory

# CVS recovered versions - anywhere
.\#*

# objects and archives - anywhere
*.[oa]
*.la
*.so
*.jar

# except jar files in the main directory
!/*.jar

# source packages - anywhere
*.tar.bz2
*.tar.gz
*.tgz

# ignore a persistent .build tag in the main directory
/.build

# ignore cache directories (might be symbolic links)
/web-app/cache
/web-app/cache-*

# ignore site-specific config files
/web-app/config/alarm-threshold.xml

# ignore site-specific image files
/web-app/config/logo.png

# ignore misc build directories
/build-*/

# in case we want our gh-pages branch close at hand
/gh-pages

# end-of-file
