<?xml version="1.0" encoding="UTF-8"?>
<config>
<!-- XML-QSTAT configuration file -->

<!--
    If the 'qlicserver' entity exists and has the attribute enabled="false",
    the viewing of the resource allocation reported by the qlicserver program
    will be disabled.
    Other values (or a missing entry) are interpreted as enabled="true".
-->
<qlicserver enabled="true"/>

<!--
    specify an external program for querying the jobinfo
    - the jobId, etc. are passed via the queryString
-->
<programs>
  <!--
      specify an external program for obtaining the qstat -j information
      - leave empty if you don't have such a program, or if you wish
        to use the CommandGenerator
  -->
  <jobinfo></jobinfo>

  <!--
      specify an external program for viewing the stdout files
      (jobId, filenames, etc. are passed via the queryString)
      - leave empty if you don't have such a program
  -->
  <viewfile></viewfile>

  <!--
      specify an external program for finding and viewing the log files
      (jobId, filenames, etc. are passed via the queryString)
      - leave empty if you don't have such a program
  -->
  <viewlog></viewlog>

</programs>

<!--
    define a logo for all of the pages and the link location
    <topLogo src="config/.png" href="http://www.xml-qstat.org" height="29" />
-->
<topLogo src="config/xmlqstat-logo.png" href="http://olesenm.github.com/xml-qstat/" height="29"/>

<!-- define cluster settings and if a default cluster is allowed -->
<clusters>
  <default enabled="false" />
  <cluster name="demo" root="/opt/grid" cell="default" />
</clusters>

</config>
<!-- end-of-file -->
