<!-- sidebar with source code/project links -->
<h6 class="vlist">get latest source code</h6>
<ul class="vlist">
  <li><a href="http://github.com/bioteam/xml-qstat">bioteam/xml-qstat</a></li>
  <li><a href="http://github.com/olesenm/xml-qstat">olesenm/xml-qstat (fork)</a></li>
  <li><a href="http://github.com/olesenm/xml-qstat/tarball/master">tar.gz file</a></li>
</ul>
<h6 class="vlist">related projects</h6>
<ul class="vlist">
  <li><a href="http://olesenm.github.com/flex-grid">flex-grid</a></li>
</ul>
<h6 class="vlist">quick links</h6>
<ul class="vlist">
  <li><a href="http://gridengine.sunsource.net">Grid Engine project</a></li>
  <li><a href="http://wiki.gridengine.info/wiki">wiki.gridengine.info/wiki</a></li>
</ul>

